/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--dark-gray: #424242;
	--white: #ffffff;
	--black: #000000;
	--red: #ff3d3d;
	--yellow: #fff128;
	--blue: #00a2ff;
	--green: #4aff96;
	--orange: #ffa033;
	--pink: #ff58d5;
	--purple: #a03aff;
	--gray: #999999;
}

.body {
	margin: 0 1rem;
}

input {
	padding: .25rem;
}

input:not(input[type="checkbox"]):focus, input:not(input[type="checkbox"]):hover {
	outline: none;
	border-bottom: 1px solid #8b8b8b;
}

input:not(input[type="checkbox"]):focus-visible {
	outline: unset;
}

.header, .content {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	border-bottom: 1px solid var(--dark-gray);
	width: 100%;
	height: 2rem;
	margin-bottom: 1rem;
	justify-content: space-between;
	align-items: center;
}

.content {
  display: block;
	width: 100%;
	font-size: 16px;
}

.project {
	display: block;
	border: 1px solid #cecece;
	border-radius: .25rem;
	margin-bottom: 1rem;
	padding: 1rem;
}

.project__title, .task__text-input {
	border: none;
	border-bottom: 1px solid var(--white);
}

.task {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.task__top-wrapper, .task__bottom-wrapper {
	display: flex;
	align-items: center;
}

input.task__checkbox, button.task__color-priority {
	cursor: pointer;
}

input.task__checkbox {
	height: 20px;
	width: 16px;
	margin-left: 0;
}

button.task__color-priority {
	display: inline-block;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	border: 1px solid #424242;
}

.task__color-priority.priority-white {
	background: var(--white);
}

.task__color-priority.priority-black {
	background: var(--black);
}

.task__color-priority.priority-red {
	background: var(--red);
}

.task__color-priority.priority-yellow {
	background: var(--yellow);
}

.task__color-priority.priority-blue {
	background: var(--blue);
}

.task__color-priority.priority-green {
	background: var(--green);
}

.task__color-priority.priority-orange {
	background: var(--orange);
}

.task__color-priority.priority-pink {
	background: var(--pink);
}

.task__color-priority.priority-purple {
	background: var(--purple);
}

.task__color-priority.priority-gray {
	background: var(--gray);
}