/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--light-gray: #cecece;
	--medium-gray: #616161;
	--dark-gray: #424242;
	--white: #ffffff;
	--black: #000000;
	--red: #f44336;
	--light-red: #ffebee;
	--green: #00a260;
	--light-green: #e8f5e9;
	--orange: #f57c00;
	--light-orange: #fbe9e7;

	--border-radius: .25rem;
}

.body {
	margin: 0 1rem;
}

input {
	padding: .25rem;
}

input:not(input[type="checkbox"]):focus, input:not(input[type="checkbox"]):hover {
	outline: none;
	border-bottom: 1px solid #8b8b8b;
}

input:not(input[type="checkbox"]):focus-visible {
	outline: unset;
}

.header, .content {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	border-bottom: 1px solid var(--dark-gray);
	width: 100%;
	height: 2rem;
	margin-bottom: 1rem;
	justify-content: space-between;
	align-items: center;
}

.content {
  display: block;
	width: 100%;
	font-size: 16px;
}

.project {
	display: flex;
	height: 1.5rem;
	border: 1px solid var(--light-gray);
	border-radius: var(--border-radius);
	margin-bottom: 1rem;
	padding: 1rem;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.project.expanded {
	height: auto;
}

.project__header {
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
}

.project__btn-wrapper {
	display: flex;
	align-items: center;
}

.project__title, .task__text-input {
	border: none;
	border-bottom: 1px solid var(--white);
}

.project__title {
	width: 30%;
}

.task {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	padding: .5rem;
	border: 1px solid var(--white);
	border-radius: var(--border-radius);
	transition: all ease-in-out .1s;
}

.task.completed .task__text-input {
	text-decoration: line-through;
}

.task:hover, .task:focus {
	border: 1px solid var(--light-gray);
}

.task__top-wrapper, .task__bottom-wrapper {
	display: flex;
	align-items: center;
}

.task__bottom-wrapper {
	height: 0;
	overflow: hidden;
	transition: all ease-in-out .1s;
}

.task__bottom-wrapper.expanded {
	height: auto;
}

.task__checkbox, .task__priority {
	cursor: pointer;
}

.task__checkbox {
	height: 20px;
	width: 16px;
	margin-left: 0;
}

.task__priority {
	display: inline-block;
	border-radius: 5rem;
	width: 80px;
}

.task .notes-btn.no-notes {
	opacity: .5;
}

.task__priority.priority-set {
	background: var(--white);
	border: 1px solid var(--medium-gray);
	color: var(--medium-gray);
}

.task__priority.priority-low {
	background: var(--light-green);
	border: 1px solid var(--green);
	color: var(--green);
}

.task__priority.priority-medium {
	background: var(--light-orange);
	border: 1px solid var(--orange);
	color: var(--orange);
}

.task__priority.priority-high {
	background: var(--light-red);
	border: 1px solid var(--red);
	color: var(--red);
}